@include b('target-reality') {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(18, 38, 63, 0.08);
  padding: 20px 24px;
  width: 560px;
  height: 480px;
  display: flex;
  flex-direction: column;

  @include e('title') {
    font-size: 18px;
    font-weight: 700;
    color: #0f172a;
    margin-bottom: 24px;
  }

  @include e('chart') {
    flex: 1;
    width: 100%;
    margin-bottom: 24px;
  }

  @include e('legend') {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  @include e('legend-item') {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include e('left') {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  @include e('icon-wrapper') {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include m('green') {
      background-color: #e6fffa;
      color: #10b981;
    }
    @include m('orange') {
      background-color: #fff7ed;
      color: #f59e0b;
    }
  }

  @include e('texts') {
    display: flex;
    flex-direction: column;
  }
  @include e('label') {
    font-size: 14px;
    font-weight: 500;
    color: #0f172a;
  }
  @include e('sub-label') {
    font-size: 12px;
    color: #94a3b8;
  }

  @include e('value') {
    font-size: 16px;
    font-weight: 600;
    @include m('green') {
      color: #10b981;
    }
    @include m('orange') {
      color: #f59e0b;
    }
  }
}
